h1 {
    color: red;
    font-size: 30px;
    text-align: center;
    font-family: Verdana;
    background-color: green;
}


p.select {
    text-align: justify;
    font-size: 30px;
    color: black;
}


a.goback {
    color: Red;
    font-size: 25px;
    text-decoration-line: none;
}

li {
    list-style: none;
    text-align:start;
}

body {
    font-size: 40px;
}