h1 {
    font-size: 50px;
    text-align: center;
    font-family:fantasy;
}

label {
    font-size: 40px;
    background-color: white;
    
}

p {
    font-size: 40px;
    text-decoration: underline dotted;
}

li  {
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-decoration-line: none;
    font-family:serif;
    list-style: none;
    list-style:disc;
}

a {
    font-size: 30px;
    list-style: none;
    text-decoration: none;
    color: black;
}

body {
    font-size: 60px;
}

