{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'estudio_mate/style.css' %}">
<title> Ejercicios mate - Respuestas </title>
<body>

    {% if answer %}
        <h1> {{subject}} </h1> 
        <p>
            Respuesta: <br><br>  {{ answer }} 
            </p>
            <img src="/static/estudio_mate/images/problems/{{  answer }}" alt="My image"/>
            <br><br>
    {% else %}
        <p>No answers are available.</p>
    {% endif %}
    <a  href="/estudio-mate/"> Volver al inicio </a> <br> 
    <a  href="/estudio-mate/{{ subject_id }}/">  Vovlver a los problemas </a> 
</body>