{% extends "estudio_mate/base.html" %}
{% block content %}

<div class="row gy-5" style="margin-top: 12px;">
    <div class="col">

    {% for solution in solutions %}
        <div class="card bg-secondary mx-auto" style="width: 55rem">
            <a href="/{{solution.problem.subject.id}}/problems/{{solution.problem.id}}/" style="color: inherit; text-decoration: none;">
                <h3 class="cart-title"> Pregunta #{{solution.problem.id}}</h3></a>
            <a class="mx-auto" href="/{{solution.problem.subject.id}}/problems/{{solution.problem.id}}/" style="color: inherit; text-decoration: none;">
                <img class="mx-auto" src="/static/estudio_mate/images/problems/{{solution.problem}}.png" style="width: 40rem; height: auto; ">
            </a>
            <h4 class="cart-title" > Solución</h4>
            <img class="mx-auto" src="{{solution.solution_file.url}}" style="width:45rem; height: auto;">
        </div>
    </div>
    </div><br>

{% endfor %}
{% endblock %}