{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'estudio_mate/style.css' %}">
<title> Estudios mate - Ejercicios {{subject}} </title>
<body>
    {% if problems %}
        <h1>  Estudios mate </h1>
        <ul>
            <p> {{subject}} </p>
            {% for problem in problems %}
                <label> {{ problem.statement }} </label> <br> 
                <img src="/static/estudio_mate/images/problems/{{  problem.statement }}" alt="My image"/>
                <a  href="/estudio-mate/{{ subject_id }}/problems/{{ problem.id }}"> &nbsp;&nbsp;&nbsp;Ver respuesta </a> 
                <br> <br>
            {% endfor %}

        </ul>
    {% else %}
        <p>No problems are available.</p>
    {% endif %}
    <a  href="/estudio-mate/"> Volver al inicio </a> 
</body>
