{% extends "estudio_mate/base.html" %}
{% block content %}
<br>
<div class="card mx-auto" style="width: 20rem;">
    <div class="input-group mb-3 ">
        <form  method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input class="form-control" type="file" name="solution">
            <button class="btn btn-outline-secondary" type="submit"> Subir desarrollo </button>
            <button class="btn btn-outline-secondary float-end" type="reset">Borrar</button>
        </form>
    </div>
</div>
<br>
<a class="btn btn-danger text-light" type=button value="Volver" onClick="window.history.back();return false;" >Volver</a>

{% endblock %}